.banner-favorite-home {
    display: flex;
    block-size: 300px;
    inline-size: 100%;
    background-image: url(../../../../assets/images/banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    
    .character-day{
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: bold;
        margin-inline-start: 5%;
        font-size: 24px;

        .character-name{
            text-align: center;
        }
    }

    .character-image img{
        inline-size: 200px;
        border-radius: 20px;
        margin-inline-start: 25%;
    }
}

@media (max-inline-size:480px){
    .banner-home {
        display: none;
    }
}